header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: darkblue;
}

.pic {
  display: flex;
  align-items: center;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
}

footer {
  display: flex;
  justify-content: end;
  align-items: center;
  color: darkblue;
}


.skills {
  display: flex;
  justify-content: space-between;
}

.contact {
    max-width: 400px;
    margin: 18px auto;
}

textarea {
    height: 180px;
    resize: vertical;
}

.BTsend {
  padding: 10px 40px;
  border-radius: 8px;
}

